extends layout 
    
block content 
    main.container
        <div class="wrapper">
            <div class="box-container">     
                <div class="box"><h1>Kitchen</h1></div>
                <div class="box"><h1>Bathroom</h1></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
    
  

